name: checkstyle

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  checkstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Run Checkstyle
        run: ./gradlew checkstyleMain checkstyleTest
